<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias alias="EuserDao" type="com.example.eusersso.dao.EuserDao" />
        <typeAlias alias="AvueRole" type="com.example.eusersso.entity.AvueRole" />
        <typeAlias alias="IntegerListTypeHandler" type="com.example.eusersso.mybatis.IntegerListTypeHandler" />
        <typeAlias alias="StringListTypeHandler" type="com.example.eusersso.mybatis.StringListTypeHandler" />
        <typeAlias alias="StringMapTypeHandler" type="com.example.eusersso.mybatis.StringMapTypeHandler" />
        <typeAlias alias="AvuePermissionsTypeHandler" type="com.example.eusersso.mybatis.AvuePermissionsTypeHandler" />
    </typeAliases>
</configuration>
